* {
  margin: 0;
  padding: 0;
}

html {
  background: url(../images/background.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -100;
}

.wrapper {
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.logo img {
  width: 300px;
}

.content p {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 1.15rem;
  color: white;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}

#teffee_logo {
   font-family: 'Shrikhand', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 600px) {
  .logo img {
    width: 600px;
  }
  .content p {
    font-size: 2em;
    top: 65%;

  }
}
