* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.content {
  height: 100%;
  position: relative;

}

#teffee_logo {
  font-family: 'Shrikhand', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

div.content p {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
